.single-note{
    border: solid 1px lightgray;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    box-shadow:         3px 3px 5px 6px #ccc;  
}
